In [1]:
import pandas as pd
tokens = pd.read_pickle("output/tokens.pkl")
users = pd.read_pickle("output/users.pkl")

In [2]:
tokens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        500 non-null    object
 1   creationDate  500 non-null    object
dtypes: object(2)
memory usage: 7.9+ KB

In [3]:
tokens['creationDate'] = pd.to_datetime(tokens['creationDate'])

In [4]:
merged = pd.merge(tokens, users, how="outer", on=["userId"])
merged.head()

,userId,creationDate,userName,orgId,orgName
0,170084137741385985,2023-01-16 17:04:42.813335+00:00,mpa@mpa-test.zitadel.cloud,170084137741320449,mpa-test
1,170084137741385985,2023-01-16 17:28:37.571320+00:00,mpa@mpa-test.zitadel.cloud,170084137741320449,mpa-test
2,170084137741385985,2023-01-17 12:46:28.733124+00:00,mpa@mpa-test.zitadel.cloud,170084137741320449,mpa-test
3,170084137741385985,2023-01-17 14:17:32.394119+00:00,mpa@mpa-test.zitadel.cloud,170084137741320449,mpa-test
4,170084137741385985,2023-01-17 15:18:43.026994+00:00,mpa@mpa-test.zitadel.cloud,170084137741320449,mpa-test

In [5]:
grouped = merged.groupby(by=[pd.Grouper(key="creationDate", freq="M"), merged.orgId, merged.orgName]).nunique()
grouped

                                                             userId  userName
creationDate              orgId              orgName
2023-01-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          190957560872829185 Demo-Customer2       1         1
2023-02-28 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-03-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-04-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-05-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-06-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-07-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
2023-08-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        2         2
                          190957560872829185 Demo-Customer2       1         1
2023-09-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-10-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
2023-11-30 00:00:00+00:00 170084137741320449 mpa-test             1         1

In [6]:
grouped = merged.groupby(by=[pd.Grouper(key="creationDate", freq="M"), merged.orgId, merged.orgName]).nunique()
grouped

                                                             userId  userName
creationDate              orgId              orgName
2023-01-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          190957560872829185 Demo-Customer2       1         1
2023-02-28 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-03-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-04-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-05-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-06-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-07-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
2023-08-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        2         2
                          190957560872829185 Demo-Customer2       1         1
2023-09-30 00:00:00+00:00 170084137741320449 mpa-test             1         1
                          170086363054473473 Demo-Customer        1         1
2023-10-31 00:00:00+00:00 170084137741320449 mpa-test             1         1
2023-11-30 00:00:00+00:00 170084137741320449 mpa-test             1         1

In [7]:
grouped.to_csv('output/mau_per_month_per_org.csv')